<mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">
    <mat-step state="done" [label]="item.title" *ngFor="let item of servicoFilter(list)">
        <span>{{item.descricao}}</span>
        <div class="options">
            <mat-icon fontIcon="edit" [routerLink]="['../crud', 'section@Servico', item.id]"
                matTooltip="Editar dados da seção"></mat-icon>
            <mat-icon fontIcon="add" matTooltip="Adicionar um serviço"
                [routerLink]="['../crud', returnProdItem(item), 0]"></mat-icon>
            <mat-icon fontIcon="delete" (click)="deleteSection(item)" matTooltip="Remover seção de serviços"></mat-icon>
        </div>
        <table class="table_container">
            <thead class="header_table">
                <tr>
                    <th>Nome</th>
                    <th>Duração</th>
                    <th>Valor</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="body_table">
                <tr *ngFor="let itemservico of servicoItemFilter(item.servico)" [matTooltip]="itemservico.descricao">
                    <td [innerHTML]="itemservico.title | highLigth:search"></td>
                    <td [innerHTML]="itemservico.duracao | highLigth:search"></td>
                    <td [innerHTML]="(itemservico.valor | currencyMask:2) | highLigth:search"></td>
                    <td class="optionTd" [routerLink]="['../crud', 'service', itemservico.id]"><mat-icon fontIcon="edit"
                            matTooltip="Clique aqui para editar"></mat-icon></td>
                    <td class="optionTd"><mat-icon fontIcon="delete" matTooltip="Deletar item"></mat-icon></td>
                </tr>
            </tbody>
        </table>
    </mat-step>
    <ng-template matStepperIcon="done">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>
</mat-vertical-stepper>
<div class="footer">
    <mat-icon fontIcon="add" matTooltip="Adicionar nova seção"
        [routerLink]="['../crud', 'section@Produto', 0]"></mat-icon>
</div>