/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100dvh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --title-font-size: clamp(2rem, 2vw, 2rem);

  --subtitle-font-size: clamp(1.5rem, 1.75vw, 1.75rem);

  --text-font-size: clamp(1rem, 1.5vw, 1rem);
}

@media screen and (max-width: 600px) {
  :root {
    --title-font-size: clamp(1.5rem, 2vw, 2rem);

    --subtitle-font-size: clamp(1.2rem, 1.75vw, 1.75rem);

    --text-font-size: clamp(1rem, 1.5vw, 1rem);
  }
}

* {
  font-size: var(--text-font-size);
  letter-spacing: 1px;
}

/* Barra de rolagem */
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Trilha da barra */
*::-webkit-scrollbar-track {
  background: #fde5dd85;
}

/* Thumb (parte que você arrasta) */
*::-webkit-scrollbar-thumb {
  background: #df9c73;
  border-radius: 10px;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
  background-color: #efefef;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif !important;
}

.mat-icon {
  font-family: "Material Icons" !important;
  overflow: unset;
  width: auto !important;
  height: auto !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #df9c73 !important;
}

.fc-h-event .fc-event-title-container,
.fc .fc-daygrid-day-frame {
  cursor: pointer !important;
  transition: all 1s;
}

.fc-h-event .fc-event-title-container:hover,
.fc .fc-daygrid-day-frame:hover {
  background-color: #fde5dd;
}

.fc .fc-highlight {
  background-color: #df9c73;
}

.fc-today-button .fc-button .fc-button-primary {
  display: none;
}

.fc .fc-button-primary {
  background-color: #df9c73;
  border-color: #fde5dd;
}

.fc .fc-button-primary:hover {
  background-color: #fde5dd;
  border-color: #df9c73;
  color: #df9c73;
}

.fc .fc-button-primary:disabled {
  background-color: #fde5dd;
  border-color: #fde5dd;
}

.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: #df9c73;
}

.fc .fc-button-primary:focus {
  box-shadow: none;
  border: 0px;
}

.fc-toolbar-chunk {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin: 0px !important;
}

.fc,
.fc *,
.fc ::after,
.fc ::before {
  overflow: hidden;
}

.title {
  font-size: var(--subtitle-font-size);
  color: #df9c73;
  align-items: center;
  font-weight: 400;
  display: flex;
}

.mat-horizontal-stepper-header .mat-step-icon,
.mat-vertical-stepper-header .mat-step-icon {
  background-color: #df9c73;
}

.mat-horizontal-stepper-content,
.mat-vertical-content {
  overflow-x: auto;
}

button {
  padding: 10px 50px;
  border: 0px;
  background-color: #df9c73;
  color: #fde5dd;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s;
}

button:hover {
  padding: 10px 70px;
}

.mat-stepper-vertical {
  width: 100% !important;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #df9c73;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #df9c73;
  border-color: #df9c73;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 16px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:disabled {
  background-color: #fde5dd;
  border-color: #fde5dd;
  cursor: no-drop;
}

.button_all {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  padding: 20px !important;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  mat-icon {
    font-size: 30px;
    background-color: #df9c73;
    z-index: 1;
    color: #fde5dd !important;
  }

  :is(span) {
    display: none;
    animation: slideIn 0.5s ease-in-out forwards;
    position: relative;
  }

  &:hover {
    :is(span) {
      display: block;
    }
  }
}

@keyframes slideIn {
  0% {
    left: 90%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}

.mat-horizontal-content-container {
  overflow: unset !important;
}

p-autocomplete {
  height: 34px;
  width: -webkit-fill-available;
  border-radius: 10px;
  border-color: transparent;
  background-color: #efefef;
  .p-autocomplete {
    padding-left: 10px;
    width: 100%;
    height: 100%;
    input {
      width: 100%;
      height: 100%;
    }
  }
}

.p-overlay{
  background-color: #efefef;
  padding: 10px;
  padding-bottom: 17px;
  border-radius: 10px;
  margin-top: 5px !important;
  border: 2px dashed #df9c73;
}

.p-ripple{
  margin-top: 7px;
  cursor: pointer;
  transition: all 1s;
}

.p-ripple:hover{
  color: #df9c73 !important;
}