/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  /* Tamanho do título: grande em desktops, médio em tablets, menor em dispositivos móveis */
  --title-font-size: clamp(2rem, 2vw, 2rem);

  /* Subtítulo: um pouco menor que o título */
  --subtitle-font-size: clamp(1.5rem, 1.75vw, 1.75rem);

  /* Texto padrão: responsivo para leitura confortável */
  --text-font-size: clamp(1rem, 1.5vw, 1rem);
}

* {
  font-size: var(--text-font-size);
  letter-spacing: 1px;
}

/* Barra de rolagem */
*::-webkit-scrollbar {
  width: 12px;
}

/* Trilha da barra */
*::-webkit-scrollbar-track {
  background: #fde5dd85;
}

/* Thumb (parte que você arrasta) */
*::-webkit-scrollbar-thumb {
  background: #df9c73;
  border-radius: 10px;
}

input:focus-visible {
  outline: none;
}
