<mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="screenWidth > 600 ?'side' : 'over'"
    [style.width]="screenWidth > 600 ? open ? '100px' : '350px' : ''" style="border: 0px;">
    <mat-icon *ngIf="screenWidth > 600" [fontIcon]="open? 'arrow_right' : 'arrow_left'" (click)="open = !open"
      class="arrow_icon"></mat-icon>
    <mat-icon *ngIf="screenWidth <= 600" fontIcon="arrow_left" (click)="toggleDrawer()"
      class="arrow_icon"></mat-icon>
    <div class="header_container">
      <img [style]="screenWidth > 600? open? 'width: 70px;' : 'width: 220px;' : 'width: 220px;'"
        [src]="screenWidth > 600? open? 'assets/Logo_Cut.png' : 'assets/Logo.png' : 'assets/Logo.png'" />
      <div class="routers_container">
        <div (click)="toggleDrawer()" routerLink="./" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Calendário': '' : ''">
          <mat-icon fontIcon="calendar_month"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Calendário</span>
        </div>
        <div (click)="toggleDrawer()" routerLink="./clients" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli/clients'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Gestão': '' : ''">
          <mat-icon fontIcon="groups"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Gestão</span>
        </div>
        <div (click)="toggleDrawer()" routerLink="./products" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli/products'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Produtos': '' : ''">
          <mat-icon fontIcon="inventory"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Produtos</span>
        </div>
        <div (click)="toggleDrawer()" routerLink="./service" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli/service'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Serviços': '' : ''">
          <mat-icon fontIcon="roofing"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Serviços</span>
        </div>
        <div (click)="toggleDrawer()" routerLink="./bands" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli/bands'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Vendas': '' : ''">
          <mat-icon fontIcon="payments"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Vendas</span>
        </div>
        <div (click)="toggleDrawer()" routerLink="./docs" [style]="screenWidth > 600? open? 'width: auto' : '' : ''"
          [class]="pathSelect == '/nobelli/docs'? 'item active' : 'item'"
          [matTooltip]="screenWidth > 600? open? 'Excel': '' : ''">
          <mat-icon fontIcon="description"></mat-icon>
          <span *ngIf="screenWidth > 600 ? !open : true">Excel</span>
        </div>
      </div>
      <div (click)="logout()" [style]="screenWidth > 600? open? 'width: auto' : '' : ''" class="item active"
        [matTooltip]="screenWidth > 600? open? 'Sair': '' : ''">
        <mat-icon fontIcon="logout"></mat-icon>
        <span *ngIf="screenWidth > 600 ? !open : true">Sair</span>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content
    [style]="screenWidth > 600 ? open? 'width: calc(100vw - 100px);' : 'width: calc(100vw - 350px);' : ''">
    <mat-icon *ngIf="screenWidth < 600" [fontIcon]="open? 'arrow_right' : 'arrow_left'" (click)="toggleDrawer()"
      class="arrow_icon cell"></mat-icon>
    <div class="header" *ngIf="!pathSelect.includes('crud')">
      <div class="input">
        <mat-icon fontIcon="search"></mat-icon>
        <input type="text" placeholder="Pesquise por produtos, clientes e datas" #inputSearch
          matTooltip="Caso queira pesquisar mais de uma coisa, coloque uma vírgula antes da próxima palavra"
          (input)="search(inputSearch.value)" />
      </div>
    </div>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-load *ngIf="load"></app-load>
<!-- <div class="header">
    <mat-icon [fontIcon]="open? 'arrow_right' : 'arrow_left'" (click)="open = !open"></mat-icon>
</div>

<router-outlet></router-outlet> -->