<div class="container">
  <img src="assets/Logo.png" />
  <div class="wrapper">
    <span class="title">Login</span>
    <div class="text">
      <mat-icon fontIcon="mail"></mat-icon>
      <span>Email</span>
    </div>
    <div class="input">
      <input type="email" [(ngModel)]="email" />
    </div>
    <div class="text">
      <mat-icon fontIcon="lock"></mat-icon>
      <span>Senha</span>
    </div>
    <div class="input">
      <input [type]="!view? 'password' : 'text'" [(ngModel)]="password" />
      <mat-icon class="visibility" [fontIcon]="view? 'visibility_off' : 'visibility'" (click)="view = !view"></mat-icon>
    </div>
    <div class="input check">
      <input type="checkbox" [(ngModel)]="check">
      <span>Deseja manter o login no dispositivo?</span>
    </div>
    <button (click)="login()">Entrar</button>
  </div>
</div>

<app-load *ngIf="load"></app-load>