<div class="container">
    <table class="table_container">
        <thead class="header_table">
            <tr>
                <th>Nome do cliente</th>
                <th>Data da compra</th>
                <th>Valor total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="body_table">
            <tr *ngFor="let item of vendaItemFilter(list)">
                <td [innerHTML]="item.cliente.nome | highLigth:search"></td>
                <td [innerHTML]="(item.data | date:'dd/MM/yyyy hh:MM') || '' | highLigth:search"></td>
                <td [innerHTML]="(item.valortotal | currencyMask:2) | highLigth:search"></td>
                <td class="optionTd" [routerLink]="['../crud', 'band', item.id]"><mat-icon fontIcon="edit"
                        matTooltip="Clique aqui para editar"></mat-icon></td>
                <td class="optionTd" (click)="deleteVenda(item)"><mat-icon fontIcon="delete"
                        matTooltip="Deletar venda"></mat-icon></td>
            </tr>
        </tbody>
    </table>
    <button class="button_all" [routerLink]="['../crud', 'band', 0]">
        <span>Adicionar nova venda</span>
        <mat-icon fontIcon="add"></mat-icon>
    </button>
</div>