.wrapper_alert {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
}

/* .alert_button {
  background: #bfdfcf;
  border: 0px solid;
  cursor: pointer;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  font-size: larger;
  font-weight: bold;
  color: #05d46e;
  top: -10px;
  border: 1px solid #05d46e;
  z-index: 1;
  padding: 0px;
} */

/* .alert_button:hover {
  color: #bfdfcf;
  background-color: #05d46e;
  border: 1px solid #bfdfcf;
} */
