.wrapper_alert {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background: white;
  position: relative;
  gap: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  :is(button) {
    width: auto;
    padding: 10px 20px;
  }
}
