<mat-stepper [linear]="false" #stepper animationDuration="1000">
    <mat-step label="Produtos a venda" state="shopping_cart">
        <mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">
            <mat-step state="done" [label]="item.title" *ngFor="let item of produtosFilter(list)">
                <span>{{item.descricao}}</span>
                <div class="options">
                    <mat-icon fontIcon="edit" [routerLink]="['../crud', 'section@Produto', item.id]"
                        matTooltip="Editar dados da seção"></mat-icon>
                    <mat-icon fontIcon="add" matTooltip="Adicionar um produto"
                        [routerLink]="['../crud', returnProdItem(item), 0]"></mat-icon>
                    <mat-icon fontIcon="delete" (click)="deleteSection(item)"
                        matTooltip="Remover seção de produtos"></mat-icon>
                </div>
                <table class="table_container">
                    <thead class="header_table">
                        <tr>
                            <th>Nome</th>
                            <th>Custo</th>
                            <th>Valor</th>
                            <th>Quantidade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="body_table">
                        <tr *ngFor="let itemProduto of produtosItemFilter(item.produto)">
                            <td [innerHTML]="itemProduto.title | highLigth:search"></td>
                            <td [innerHTML]="(itemProduto.valorcusto | currencyMask:2) | highLigth:search"></td>
                            <td [innerHTML]="(itemProduto.valorvenda | currencyMask:2) | highLigth:search"></td>
                            <td [innerHTML]="itemProduto.qtd | highLigth:search"></td>
                            <td class="optionTd" [routerLink]="['../crud', 'product', itemProduto.id]"><mat-icon
                                    fontIcon="edit" matTooltip="Clique aqui para editar"></mat-icon></td>
                            <td class="optionTd" (click)="deleteProduto(itemProduto)"><mat-icon fontIcon="delete"
                                    matTooltip="Deletar item"></mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </mat-step>
            <ng-template matStepperIcon="done">
                <mat-icon>radio_button_unchecked</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="edit">
                <mat-icon>radio_button_unchecked</mat-icon>
            </ng-template>
        </mat-vertical-stepper>
        <div class="footer">
            <mat-icon fontIcon="add" matTooltip="Adicionar nova seção"
                [routerLink]="['../crud', 'section@Produto', 0]"></mat-icon>
        </div>
    </mat-step>

    <mat-step label="Estoque" state="inventory">
        <mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">
            <mat-step state="done" [label]="item.title" *ngFor="let item of estoqueFilter(list)">
                <div class="options">
                    <mat-icon fontIcon="edit" [routerLink]="['../crud', 'section@Estoque', item.id]"
                        matTooltip="Editar dados da seção"></mat-icon>
                    <mat-icon fontIcon="add" matTooltip="Adicionar um produto a seção"
                        [routerLink]="['../crud', returnEstoqueItem(item), 0]"></mat-icon>
                    <mat-icon fontIcon="delete" (click)="deleteSection(item)"
                        matTooltip="Remover seção de produtos"></mat-icon>
                </div>
                <table class="table_container">
                    <thead class="header_table">
                        <tr>
                            <th>Nome</th>
                            <th>Custo</th>
                            <th>Quantidade</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="body_table">
                        <tr *ngFor="let itemProduto of estoqueItemFilter(item.produto)">
                            <td [innerHTML]="itemProduto.title | highLigth:search"></td>
                            <td [innerHTML]="(itemProduto.valorcusto | currencyMask:2) | highLigth:search"></td>
                            <td [innerHTML]="itemProduto.qtd | highLigth:search"></td>
                            <td class="optionTd" [routerLink]="['../crud', 'product', itemProduto.id]"><mat-icon
                                    fontIcon="edit" matTooltip="Clique aqui para editar"></mat-icon></td>
                            <td class="optionTd" (click)="deleteProduto(itemProduto)"><mat-icon fontIcon="delete"
                                    matTooltip="Deletar item"></mat-icon></td>
                        </tr>
                    </tbody>
                </table>
            </mat-step>
            <ng-template matStepperIcon="done">
                <mat-icon>radio_button_unchecked</mat-icon>
            </ng-template>

            <ng-template matStepperIcon="edit">
                <mat-icon>radio_button_unchecked</mat-icon>
            </ng-template>
        </mat-vertical-stepper>
        <div class="footer">
            <mat-icon fontIcon="add" matTooltip="Adicionar nova seção"
                [routerLink]="['../crud', 'section@Estoque', 0]"></mat-icon>
        </div>
    </mat-step>

    <ng-template matStepperIcon="shopping_cart">
        <mat-icon>shopping_cart</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="inventory">
        <mat-icon>inventory</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>
</mat-stepper>