.container {
  width: 100%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  box-sizing: border-box;
}

.chat {
  width: 90%;
  height: 90%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
}

.card {
  width: fit-content;
  max-width: 80%;
  padding: 5px 15px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: #df9c73;
  color: white;
}

.user {
  background-color: #fde5dd;
  color: #df9c73;
  margin-left: auto;
}

.input {
  width: 90%;
  background-color: #df9c73;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 5px 10px;
}

mat-icon {
  background-color: white;
  border-radius: 100%;
  color: #df9c73;
  padding: 5px;
  cursor: pointer;
  transition: all 1s;
}

mat-icon:hover {
  color: white;
  border: 1px solid white;
  background-color: #df9c73;
}

input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0px solid;
  color: white;
}
