<mat-vertical-stepper [linear]="false" #stepper animationDuration="1000">
    <mat-step state="done" label="Clientes">
        <div class="container_data">
            <span>Coloque as colunas que deseja exportar dos clientes</span>
            <div class="container_campos">
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.all">
                    <span>Selecionar tudo</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.nome" [disabled]="cliente.all">
                    <span>Nome</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.telefone" [disabled]="cliente.all">
                    <span>Telefone</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.endereco" [disabled]="cliente.all">
                    <span>Endereço</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.descricao" [disabled]="cliente.all">
                    <span>Descrição</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.genero" [disabled]="cliente.all">
                    <span>Gênero</span>
                </div>
                <div class="input_wrapper">
                    <input type="checkbox" [(ngModel)]="cliente.data_nasc" [disabled]="cliente.all">
                    <span>Data de Nascimento</span>
                </div>
                <button (click)="createExcel('cliente')">Exportar dados apenas dessa tabela</button>
            </div>
        </div>
    </mat-step>
    <mat-step state="done" label="Funcionários">
        <span>Coloque as colunas que deseja exportar dos funcionários</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="funcionario.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="funcionario.nome" [disabled]="funcionario.all">
                <span>Nome</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="funcionario.telefone" [disabled]="funcionario.all">
                <span>Telefone</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="funcionario.email" [disabled]="funcionario.all">
                <span>Email</span>
            </div>
            <button (click)="createExcel('funcionario')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <mat-step state="done" label="Produtos">
        <span>Coloque as colunas que deseja exportar dos produtos</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.title" [disabled]="produtos.all">
                <span>Nome</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.descricao" [disabled]="produtos.all">
                <span>Descrição</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.valor_custo" [disabled]="produtos.all">
                <span>Valor custo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.valor_venda" [disabled]="produtos.all">
                <span>Valor venda</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="produtos.qtd" [disabled]="produtos.all">
                <span>Quantidade</span>
            </div>
            <button (click)="createExcel('produtos')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <mat-step state="done" label="Estoque">
        <span>Coloque as colunas que deseja exportar do estoque</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.nome" [disabled]="estoque.all">
                <span>Nome</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.descricao" [disabled]="estoque.all">
                <span>Descrição</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.valorcusto" [disabled]="estoque.all">
                <span>Valor custo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.valorvenda" [disabled]="estoque.all">
                <span>Valor venda</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="estoque.qtd" [disabled]="estoque.all">
                <span>Quantidade</span>
            </div>
            <button (click)="createExcel('estoque')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <mat-step state="done" label="Serviços">
        <span>Coloque as colunas que deseja exportar dos serviços</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="servico.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="servico.title" [disabled]="servico.all">
                <span>Nome</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="servico.descricao" [disabled]="servico.all">
                <span>Descrição</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="servico.valor" [disabled]="servico.all">
                <span>Valor</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="servico.duracao" [disabled]="servico.all">
                <span>Duração</span>
            </div>
            <button (click)="createExcel('servico')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <mat-step state="done" label="Seções">
        <span>Coloque as colunas que deseja exportar das seções</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.cliente_id" [disabled]="eventos.all">
                <span>Nome do cliente</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.funcionario_id" [disabled]="eventos.all">
                <span>Nome do funcionário</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.servico_id" [disabled]="eventos.all">
                <span>Nome do serviço</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.horario" [disabled]="eventos.all">
                <span>Horário da consulta</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.datainicio" [disabled]="eventos.all">
                <span>Data de início</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.datafim" [disabled]="eventos.all">
                <span>Data de término</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="eventos.semanal" [disabled]="eventos.all">
                <span>Dias da semana que deve ir</span>
            </div>
            <button (click)="createExcel('eventos')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <mat-step state="done" label="Vendas">
        <span>Coloque as colunas que deseja exportar das vendas</span>
        <div class="container_campos">
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.all">
                <span>Selecionar tudo</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.cliente_id" [disabled]="vendas.all">
                <span>Nome do cliente</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.funcionario_id" [disabled]="vendas.all">
                <span>Nome do funcionário</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.valortotal" [disabled]="vendas.all">
                <span>Valor</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.produtos" [disabled]="vendas.all">
                <span>Produtos</span>
            </div>
            <div class="input_wrapper">
                <input type="checkbox" [(ngModel)]="vendas.data" [disabled]="vendas.all">
                <span>Data da venda</span>
            </div>
            <button (click)="createExcel('vendas')">Exportar dados apenas dessa tabela</button>
        </div>
    </mat-step>
    <ng-template matStepperIcon="done">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
        <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>
</mat-vertical-stepper>
<button class="button_all" (click)="createExcel()">
    <span>Exportar todos os dados</span>
    <mat-icon fontIcon="description"></mat-icon>
</button>