<div class="wrapper_alert" *ngIf="type == 'client'">
    <div class="container_crud">
        <span class="title">Adicione os dados do cliente</span>
        <div class="container">
            <mat-stepper [linear]="false" #stepper animationDuration="1000">
                <mat-step>
                    <ng-template matStepLabel>Dados iniciais</ng-template>
                    <div class="wrapper_input">
                        <span>
                            Nome do Cliente
                            <mat-icon fontIcon="person"></mat-icon>
                        </span>
                        <input type="text" placeholder="Nome" [(ngModel)]="client.nome">
                    </div>
                    <div class="wrapper_input">
                        <span>
                            Telefone
                            <mat-icon fontIcon="call"></mat-icon>
                        </span>
                        <input type="text" mask="(00) 00000-0000" placeholder="Telefone" [(ngModel)]="client.telefone">
                    </div>
                    <div class="two_camps">
                        <div class="wrapper_input">
                            <span>
                                Data de nascimento
                                <mat-icon fontIcon="calendar_month"></mat-icon>
                            </span>
                            <input type="date" placeholder="Data de nascimento" [(ngModel)]="client.dataNasc">
                        </div>
                        <div class="wrapper_input">
                            <span>Gênero<mat-icon fontIcon="person"></mat-icon></span>
                            <select [(ngModel)]="client.genero">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>CEP<mat-icon fontIcon="location_on"></mat-icon>
                        </span>
                        <input type="text" [(ngModel)]="client.cep" mask="00000-000" placeholder="CEP"
                            (input)="cepChange(cep.value)" #cep>
                    </div>
                    <div class="two_camps">
                        <div class="wrapper_input" matTooltip="Este compo é preenchido quando você seleciona o CEP">
                            <span>Logradouro<mat-icon fontIcon="lock"></mat-icon>
                            </span>
                            <input type="text" placeholder="Logradouro" disabled [(ngModel)]="client.logradouro">
                        </div>
                        <div class="wrapper_input" matTooltip="Este compo é preenchido quando você seleciona o CEP">
                            <span>UF<mat-icon fontIcon="lock"></mat-icon></span>
                            <input type="text" placeholder="UF" disabled [(ngModel)]="client.uf">
                        </div>
                    </div>
                    <div class="wrapper_input" matTooltip="Este compo é preenchido quando você seleciona o CEP">
                        <span>Bairro<mat-icon fontIcon="lock"></mat-icon>
                        </span>
                        <input type="text" placeholder="Bairro" disabled [(ngModel)]="client.bairro">
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Descrição</ng-template>
                    <div class="section" *ngFor="let section of sections; let i = index">
                        <div class="wrapper_input section_title">
                            <input type="text" placeholder="Digite o nome da seção" [(ngModel)]="section.title" #title>
                        </div>
                        <div class="section_item" *ngFor="let valueSection of section.valores; let j = index">
                            <div class="wrapper_input">
                                <input type="text" placeholder="Item da seção"
                                    (change)="sections[i].valores[j] =  newValue.value" #newValue
                                    [value]="valueSection">
                            </div>
                            <mat-icon fontIcon="remove" matTooltip="Remover linha" (click)="removeRow(i, j)"></mat-icon>
                        </div>
                        <div class="section_item">
                            <mat-icon fontIcon="add" (click)="addRow(i)" matTooltip="Adicionar linha"></mat-icon>
                            <mat-icon fontIcon="remove" (click)="removeSection(i)"
                                matTooltip="Remover seção"></mat-icon>
                        </div>
                    </div>
                    <button (click)="addSection()" class="section_button">Nova seção</button>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Concluir</ng-template>
                    <div class="wrapper_input">
                        <span>
                            Nome do Cliente
                            <mat-icon fontIcon="person"></mat-icon>
                        </span>
                        <input type="text" placeholder="Nome" [(ngModel)]="client.nome" disabled>
                    </div>
                    <div class="wrapper_input">
                        <span>
                            Telefone
                            <mat-icon fontIcon="call"></mat-icon>
                        </span>
                        <input type="text" mask="(00) 00000-0000" placeholder="Telefone" [(ngModel)]="client.telefone"
                            disabled>
                    </div>
                    <div class="two_camps">
                        <div class="wrapper_input">
                            <span>
                                Data de nascimento
                                <mat-icon fontIcon="calendar_month"></mat-icon>
                            </span>
                            <input type="date" placeholder="Data de nascimento" [(ngModel)]="client.dataNasc" disabled>
                        </div>
                        <div class="wrapper_input">
                            <span>Gênero<mat-icon fontIcon="person"></mat-icon></span>
                            <select [(ngModel)]="client.genero" disabled>
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Outro">Outro</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>CEP<mat-icon fontIcon="location_on"></mat-icon>
                        </span>
                        <input type="text" [(ngModel)]="client.cep" mask="00000-000" placeholder="CEP" disabled>
                    </div>
                    <div class="two_camps">
                        <div class="wrapper_input">
                            <span>Logradouro<mat-icon fontIcon="lock"></mat-icon>
                            </span>
                            <input type="text" placeholder="Logradouro" disabled [(ngModel)]="client.logradouro">
                        </div>
                        <div class="wrapper_input">
                            <span>UF<mat-icon fontIcon="lock"></mat-icon></span>
                            <input type="text" placeholder="UF" disabled [(ngModel)]="client.uf">
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>Bairro<mat-icon fontIcon="lock"></mat-icon>
                        </span>
                        <input type="text" placeholder="Bairro" disabled [(ngModel)]="client.bairro">
                    </div>
                    <div class="section" *ngFor="let section of sections; let i = index">
                        <div class="wrapper_input section_title">
                            <input type="text" placeholder="Digite o nome da seção"
                                (input)="section.title = title.value" disabled #title>
                        </div>
                        <div class="section_item" *ngFor="let valueSection of section.valores; let j = index">
                            <div class="wrapper_input">
                                <input type="text" placeholder="Item da seção"
                                    (change)="sections[i].valores[j] =  newValue.value" #newValue [value]="valueSection"
                                    disabled>
                            </div>
                        </div>
                    </div>
                    <button (click)="clientCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
                </mat-step>

                <ng-template matStepperIcon="done">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>

                <ng-template matStepperIcon="edit">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>

            </mat-stepper>
        </div>
    </div>
</div>

<div class="wrapper_alert" *ngIf="type == 'section'">
    <div class="container_crud">
        <span class="title">Adicione os dados da seção</span>
        <div class="container">
            <div class="wrapper_input">
                <span>
                    Título
                    <mat-icon fontIcon="person"></mat-icon>
                </span>
                <input type="text" placeholder="Nome" [(ngModel)]="sectionCreate.title">
            </div>
            <div class="wrapper_input">
                <span>Descrição<mat-icon fontIcon="inbox_text"></mat-icon>
                </span>
                <textarea placeholder="Descrição básica da seção" [(ngModel)]="sectionCreate.descricao"></textarea>
            </div>
            <div class="wrapper_input">
                <span>Seção para<mat-icon fontIcon="question_mark"></mat-icon>
                </span>
                <input type="text" placeholder="Tipo da seção" [(ngModel)]="sectionType" disabled>
            </div>
            <button (click)="sectionCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
        </div>
    </div>
</div>

<div class="wrapper_alert" *ngIf="type == 'funcionario'">
    <div class="container_crud">
        <span class="title">Adicione os dados do funcionário</span>
        <div class="container">
            <div class="wrapper_input">
                <span>
                    Nome
                    <mat-icon fontIcon="person"></mat-icon>
                </span>
                <input type="text" placeholder="Nome" [(ngModel)]="funcionario.nome">
            </div>
            <div class="two_camps">
                <div class="wrapper_input">
                    <span>
                        Telefone
                        <mat-icon fontIcon="call"></mat-icon>
                    </span>
                    <input type="text" mask="(00) 00000-0000" placeholder="Telefone" [(ngModel)]="funcionario.telefone">
                </div>
                <div class="wrapper_input">
                    <span>
                        Email
                        <mat-icon fontIcon="mail"></mat-icon>
                    </span>
                    <input type="email" placeholder="Email" [(ngModel)]="funcionario.email">
                </div>
            </div>
            <button (click)="funcionarioCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
        </div>
    </div>
</div>

<div class="wrapper_alert" *ngIf="type == 'product' || type == 'estoque'">
    <div class="container_crud">
        <span class="title">Adicione os dados do {{type == 'product'? 'produto' : 'estoque'}}</span>
        <div class="container">
            <div class="two_camps">

                <div class="wrapper_input">
                    <span>
                        Nome
                        <mat-icon fontIcon="person"></mat-icon>
                    </span>
                    <input type="text" placeholder="Nome" [(ngModel)]="produto.title">
                </div>

                <div class="wrapper_input">
                    <span>
                        Quantidade
                        <mat-icon fontIcon="pin"></mat-icon>
                    </span>
                    <input type="number" min="0" placeholder="Quantidade" [(ngModel)]="produto.qtd">
                </div>
            </div>
            <div class="two_camps">
                <div class="wrapper_input">
                    <span>
                        Valor de custo
                        <mat-icon fontIcon="payments"></mat-icon>
                    </span>
                    <input type="number" step="0.01" min="0.01" max="1000" placeholder="Valor de custo"
                        [(ngModel)]="produto.valorcusto">
                </div>
                <div class="wrapper_input">
                    <span>
                        Valor de venda
                        <mat-icon fontIcon="payments"></mat-icon>
                    </span>
                    <input type="number" step="0.01" min="0.01" max="1000" placeholder="Valor de venda"
                        [(ngModel)]="produto.valorvenda">
                </div>
            </div>
            <div class="wrapper_input">
                <span>
                    Descrição
                    <mat-icon fontIcon="inbox_text"></mat-icon>
                </span>
                <textarea [(ngModel)]="produto.descricao"></textarea>
            </div>
            <div class="wrapper_input">
                <span>
                    Seção do produto
                    <mat-icon fontIcon="inbox_text"></mat-icon>
                </span>
                <input type="text" [(ngModel)]="sectionCreate.title" disabled>
            </div>
            <button (click)="produtoCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
        </div>
    </div>
</div>

<div class="wrapper_alert" *ngIf="type == 'service'">
    <div class="container_crud">
        <span class="title">Adicione os dados do serviço</span>
        <div class="container">
            <div class="wrapper_input">
                <span>
                    Título
                    <mat-icon fontIcon="person"></mat-icon>
                </span>
                <input type="text" placeholder="Nome" [(ngModel)]="service.title">
            </div>
            <div class="two_camps">
                <div class="wrapper_input">
                    <span>
                        Valor
                        <mat-icon fontIcon="payments"></mat-icon>
                    </span>
                    <input type="number" step="0.01" min="0.01" max="1000" placeholder="Valor"
                        [(ngModel)]="service.valor">
                </div>
                <div class="wrapper_input">
                    <span>
                        Duração em Horas e Minutos
                        <mat-icon fontIcon="timer"></mat-icon>
                    </span>
                    <select [(ngModel)]="service.duracao">
                        <option value="00:00">00:00</option>
                        <option value="00:15">00:15</option>
                        <option value="00:30">00:30</option>
                        <option value="00:45">00:45</option>
                        <option value="01:00">01:00</option>
                        <option value="01:15">01:15</option>
                        <option value="01:30">01:30</option>
                        <option value="01:45">01:45</option>
                        <option value="02:00">02:00</option>
                        <option value="02:15">02:15</option>
                        <option value="02:30">02:30</option>
                        <option value="02:45">02:45</option>
                        <option value="03:00">03:00</option>
                        <option value="03:15">03:15</option>
                        <option value="03:30">03:30</option>
                        <option value="03:45">03:45</option>
                        <option value="04:00">04:00</option>
                        <option value="04:15">04:15</option>
                        <option value="04:30">04:30</option>
                        <option value="04:45">04:45</option>
                        <option value="05:00">05:00</option>
                        <option value="05:15">05:15</option>
                        <option value="05:30">05:30</option>
                        <option value="05:45">05:45</option>
                        <option value="06:00">06:00</option>
                        <option value="06:15">06:15</option>
                        <option value="06:30">06:30</option>
                        <option value="06:45">06:45</option>
                        <option value="07:00">07:00</option>
                        <option value="07:15">07:15</option>
                        <option value="07:30">07:30</option>
                        <option value="07:45">07:45</option>
                        <option value="08:00">08:00</option>
                        <option value="08:15">08:15</option>
                        <option value="08:30">08:30</option>
                        <option value="08:45">08:45</option>
                        <option value="09:00">09:00</option>
                        <option value="09:15">09:15</option>
                        <option value="09:30">09:30</option>
                        <option value="09:45">09:45</option>
                        <option value="10:00">10:00</option>
                        <option value="10:15">10:15</option>
                        <option value="10:30">10:30</option>
                        <option value="10:45">10:45</option>
                        <option value="11:00">11:00</option>
                        <option value="11:15">11:15</option>
                        <option value="11:30">11:30</option>
                        <option value="11:45">11:45</option>
                        <option value="12:00">12:00</option>
                        <option value="12:15">12:15</option>
                        <option value="12:30">12:30</option>
                        <option value="12:45">12:45</option>
                        <option value="13:00">13:00</option>
                        <option value="13:15">13:15</option>
                        <option value="13:30">13:30</option>
                        <option value="13:45">13:45</option>
                        <option value="14:00">14:00</option>
                        <option value="14:15">14:15</option>
                        <option value="14:30">14:30</option>
                        <option value="14:45">14:45</option>
                        <option value="15:00">15:00</option>
                        <option value="15:15">15:15</option>
                        <option value="15:30">15:30</option>
                        <option value="15:45">15:45</option>
                        <option value="16:00">16:00</option>
                        <option value="16:15">16:15</option>
                        <option value="16:30">16:30</option>
                        <option value="16:45">16:45</option>
                        <option value="17:00">17:00</option>
                        <option value="17:15">17:15</option>
                        <option value="17:30">17:30</option>
                        <option value="17:45">17:45</option>
                        <option value="18:00">18:00</option>
                        <option value="18:15">18:15</option>
                        <option value="18:30">18:30</option>
                        <option value="18:45">18:45</option>
                        <option value="19:00">19:00</option>
                        <option value="19:15">19:15</option>
                        <option value="19:30">19:30</option>
                        <option value="19:45">19:45</option>
                        <option value="20:00">20:00</option>
                        <option value="20:15">20:15</option>
                        <option value="20:30">20:30</option>
                        <option value="20:45">20:45</option>
                        <option value="21:00">21:00</option>
                        <option value="21:15">21:15</option>
                        <option value="21:30">21:30</option>
                        <option value="21:45">21:45</option>
                        <option value="22:00">22:00</option>
                        <option value="22:15">22:15</option>
                        <option value="22:30">22:30</option>
                        <option value="22:45">22:45</option>
                        <option value="23:00">23:00</option>
                        <option value="23:15">23:15</option>
                        <option value="23:30">23:30</option>
                        <option value="23:45">23:45</option>
                        <option value="24:00">24:00</option>
                    </select>
                </div>
            </div>
            <div class="wrapper_input">
                <span>
                    Descrição
                    <mat-icon fontIcon="inbox_text"></mat-icon>
                </span>
                <textarea [(ngModel)]="service.descricao"></textarea>
            </div>
            <div class="wrapper_input">
                <span>
                    Seção do produto
                    <mat-icon fontIcon="inbox_text"></mat-icon>
                </span>
                <input type="text" [(ngModel)]="sectionCreate.title" disabled>
            </div>
            <button (click)="serviceCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
        </div>
    </div>
</div>

<div class="wrapper_alert" *ngIf="type == 'band'">
    <div class="container_crud">
        <span class="title">Adicione os dados da venda</span>
        <div class="container">
            <mat-stepper [linear]="false" #stepper animationDuration="1000">
                <mat-step>
                    <ng-template matStepLabel>Dados iniciais</ng-template>
                    <div class="two_camps">
                        <div class="wrapper_input">
                            <span>
                                Cliente
                                <mat-icon fontIcon="person"></mat-icon>
                            </span>
                            <select [(ngModel)]="bandInfo.idCliente">
                                <option [value]="cliente.id" *ngFor="let cliente of infoClient; let i = index" value="">
                                    {{cliente.nome}}</option>
                            </select>
                        </div>
                        <div class="wrapper_input">
                            <span>
                                Funcionário
                                <mat-icon fontIcon="person"></mat-icon>
                            </span>
                            <select [(ngModel)]="bandInfo.idFuncionario">
                                <option [value]="func.id" *ngFor="let func of infoFuncionario; let i = index" value="">
                                    {{func.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>
                            Datas e Hora
                            <mat-icon fontIcon="calendar_month"></mat-icon>
                        </span>
                        <input type="datetime-local" [(ngModel)]="bandInfo.data">
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Produtos</ng-template>
                    <div class="section" *ngFor="let section of bandInfo.produtos; let i = index">
                        <div class="wrapper_input section_title">
                            <span>
                                Produto
                            </span>
                            <div class="wrapper_input">
                                <select [(ngModel)]="section.id">
                                    <!-- <optgroup label="Produtos"> -->
                                    <option *ngFor="let product of selectProduct(); let i = index" [value]="product.id">
                                        {{product.title}}</option>
                                    <!-- </optgroup> -->
                                    <!-- <optgroup label="Servico">
                                        <option *ngFor="let service of selectService(); let i = index"
                                            [value]="service.id">{{service.title}}</option>
                                    </optgroup> -->
                                </select>
                            </div>
                        </div>
                        <div class="section_item">
                            <div class="wrapper_input">
                                <span>
                                    Quantidade [ Valor unitário: {{unitValue(section.id)}} ]
                                </span>
                                <input type="number" [(ngModel)]="section.quantidade" min="1">
                            </div>
                            <div class="wrapper_input">
                                <span>
                                    Valor Total
                                </span>
                                <input type="number" step="0.01" min="0.01" [value]="section.valor * section.quantidade"
                                    disabled>
                            </div>
                        </div>
                        <mat-icon fontIcon="remove" (click)="removeProduct(i)" matTooltip="Remover produto"></mat-icon>
                    </div>
                    <mat-icon fontIcon="add" (click)="addProduct()" matTooltip="Adicionar compra"
                        class="add_product"></mat-icon>
                    <div class="wrapper_input">
                        <span>
                            Valor Total Calculado
                            <mat-icon fontIcon="payments"></mat-icon>
                        </span>
                        <span>R${{totalValor()}}</span>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Concluir</ng-template>
                    <div class="two_camps">
                        <div class="wrapper_input">
                            <span>
                                Cliente
                                <mat-icon fontIcon="person"></mat-icon>
                            </span>
                            <select [(ngModel)]="bandInfo.idCliente" disabled>
                                <option [value]="cliente.id" *ngFor="let cliente of infoClient; let i = index" value="">
                                    {{cliente.nome}}</option>
                            </select>
                        </div>
                        <div class="wrapper_input">
                            <span>
                                Funcionário
                                <mat-icon fontIcon="person"></mat-icon>
                            </span>
                            <select [(ngModel)]="bandInfo.idFuncionario" disabled>
                                <option [value]="func.id" *ngFor="let func of infoFuncionario; let i = index" value="">
                                    {{func.nome}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>
                            Datas e Hora
                            <mat-icon fontIcon="calendar_month"></mat-icon>
                        </span>
                        <input type="datetime-local" [(ngModel)]="bandInfo.data" disabled>
                    </div>
                    <div class="section" *ngFor="let section of bandInfo.produtos; let i = index">
                        <div class="wrapper_input section_title">
                            <span>
                                Produto
                            </span>
                            <div class="wrapper_input">
                                <select [(ngModel)]="section.id" disabled>
                                    <!-- <optgroup label="Produtos"> -->
                                    <option *ngFor="let product of selectProduct(); let i = index" [value]="product.id">
                                        {{product.title}}</option>
                                    <!-- </optgroup> -->
                                    <!-- <optgroup label="Servico">
                                        <option *ngFor="let service of selectService(); let i = index"
                                            [value]="service.id">{{service.title}}</option>
                                    </optgroup> -->
                                </select>
                            </div>
                        </div>
                        <div class="section_item">
                            <div class="wrapper_input">
                                <span>
                                    Quantidade [ Valor unitário: {{unitValue(section.id)}} ]
                                </span>
                                <input type="number" [(ngModel)]="section.quantidade" min="1" disabled>
                            </div>
                            <div class="wrapper_input">
                                <span>
                                    Valor Total
                                </span>
                                <input type="number" step="0.01" min="0.01" [value]="section.valor * section.quantidade"
                                    disabled>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper_input">
                        <span>
                            Valor Total Calculado
                            <mat-icon fontIcon="payments"></mat-icon>
                        </span>
                        <span>R${{totalValor()}}</span>
                    </div>
                    <button (click)="vendaCrud()">{{id == '0'? 'Realizar cadastro' : 'Atualizar os dados'}}</button>
                </mat-step>

                <ng-template matStepperIcon="done">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>

                <ng-template matStepperIcon="edit">
                    <mat-icon>radio_button_unchecked</mat-icon>
                </ng-template>

            </mat-stepper>
        </div>
    </div>
</div>