.wrapper_alert {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--back-table-color);
  position: relative;
  width: 100%;
  height: 100dvh;
  margin: auto;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: transparent;
}

.container_crud {
  width: 100%;
  height: 100%;
}

.wrapper_input {
  width: 100%;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  :is(input) {
    height: 34px;
    width: -webkit-fill-available;
    border-radius: 10px;
    border-color: transparent;
    /* background-color: var(--back-table-color); */
    padding-left: 10px;
  }
  :is(span) {
    width: 100%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
  }
  :is(select) {
    appearance: none; /* Remove a aparência padrão do sistema */
    background-color: #f3f3f3; /* Cor de fundo semelhante ao input */
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    color: #777;
    width: 100%;
    outline: none;
    cursor: pointer;
  }
}

.two_camps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: -webkit-fill-available;
}

.add_product{
  padding: 5px;
  border-radius: 100%;
  color: var(--first-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.section {
  border-left: var(--primary-color) 5px solid;
  border-radius: 5px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  :is(mat-icon) {
    padding: 5px;
    border-radius: 100%;
    background: var(--primary-color);
    color: var(--second-color);
    transition: all 1s;
    cursor: pointer;
    margin-left: 5px;
    &:hover {
      padding: 7px;
    }
  }
}

.section_title {
  :is(input) {
    background-color: transparent !important;
    border-bottom: 2px var(--primary-color) solid;
    border-radius: 0px;
    color: var(--primary-color);
    font-size: var(--subtitle-font-size);
  }
}

.section_item {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.autocomplete{
  background-color: var(--second-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.autocomplete>button{
  position: absolute;
  background-color: transparent !important;
  width: 100%;
  padding: 0px;
  color: var(--first-color);
}

.autocomplete_wrapper{
  width: 100%;
}

@media screen and (max-width: 700px) {
  .two_camps{
    flex-direction: column;
  }
  .section_item{
    flex-direction: column;
  }
}