<div class="container">
  <mat-stepper [linear]="false" #stepper animationDuration="1000">
    <mat-step label="Clientes" state="done">
      <table class="table_container">
        <thead class="header_table">
          <tr>
            <th>Nome</th>
            <th>Última Compra</th>
            <th>Data de Nascimento</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body_table">
          <tr *ngFor="let item of clientFilter(listClient)" [class]="item == clientSelect? 'selected' : ''">
            <td [innerHTML]="item.nome | highLigth:search"></td>
            <td *ngIf="item.venda.length != 0"
              [innerHTML]="(lastDate(item.venda) | date:'dd/MM/yyyy') || '' | highLigth:search"></td>
            <td *ngIf="item.venda.length == 0">Nunca realizou um compra</td>
            <td [innerHTML]="(item.data_nasc | date:'dd/MM/yyyy') || '' | highLigth:search"></td>
            <td class="optionTd" [routerLink]="['../crud', 'client', item.id]"><mat-icon fontIcon="edit"
                matTooltip="Clique aqui para editar"></mat-icon></td>
            <td class="optionTd" (click)="deleteClient(item)"><mat-icon fontIcon="delete"
                matTooltip="Deletar cliente"></mat-icon></td>
          </tr>
        </tbody>
      </table>
      <div class="footer">
        <mat-icon fontIcon="add" matTooltip="Adicionar cliente" [routerLink]="['../crud', 'client', 0]"></mat-icon>
      </div>
    </mat-step>

    <mat-step label="Funcionários" state="done">
      <table class="table_container">
        <thead class="header_table">
          <tr>
            <th>Nome</th>
            <th>Última venda</th>
            <th>Telefone</th>
            <th>Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody class="body_table">
          <tr *ngFor="let item of funcionarioFilter(listFuncionario)" [class]="item == clientSelect? 'selected' : ''">
            <td [innerHTML]="item.nome | highLigth:search"></td>
            <td *ngIf="item.venda.length != 0"
              [innerHTML]="(lastDate(item.venda) | date:'dd/MM/yyyy') || '' | highLigth:search"></td>
            <td *ngIf="item.venda.length == 0">Nunca realizou uma venda</td>
            <td [innerHTML]="(item.telefone | maskPipe:'(00) 00000-0000') | highLigth:search "></td>
            <td [innerHTML]="item.email | highLigth:search"></td>
            <td class="optionTd" [routerLink]="['../crud', 'funcionario', item.id]"><mat-icon fontIcon="edit"
                matTooltip="Clique aqui para editar"></mat-icon></td>
            <td class="optionTd" (click)="deleteFuncionario(item)"><mat-icon fontIcon="delete"
                matTooltip="Deletar funcionario"></mat-icon></td>
          </tr>
        </tbody>
      </table>
      <div class="footer">
        <mat-icon fontIcon="add" matTooltip="Adicionar funcionário"
          [routerLink]="['../crud', 'funcionario', 0]"></mat-icon>
      </div>
    </mat-step>

    <ng-template matStepperIcon="done">
      <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="edit">
      <mat-icon>radio_button_unchecked</mat-icon>
    </ng-template>
  </mat-stepper>
</div>